.page{
    padding-top: var(--header-height);
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
}

.hero-banner{
    position: relative;
    width: 85vw;
    height: 18rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
}