.page{
    padding-top: var(--header-height);
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem 5rem;
    gap: 5rem;
}

.hero-banner{
    position: relative;
    width: 85vw;
    height: 18rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3rem;
}

.category-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.category-image span{
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    text-align: center;
}
