.header{
    top: 0;
    padding: 2rem;
    background: var(--foreground);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.page{
    min-height: 100vh;
}

.main{
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* --------- Choose Category --------------- */

.all-categories-options{
    display: flex;
    margin-top: 1rem;
}

.sub-categories{
    flex: 2;
    border: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
}


.categories-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.category-card{
    border: 1px solid var(--border-color);
    padding: 1rem;
    font-size: var(--fs-caption);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-caption);
    height: 5.2rem;
}
.category-card:hover:not(.active-card){
    background: rgba(var(--secondary-color-rgb), 0.1);
}

.active-card{
    background: rgba(var(--secondary-color-rgb), 0.5);
}

.card-details{
    display: flex;
    align-items: center;
    gap: 2rem;
}
