:root{
  /* Colors */
  --background: #ffffff;
  --foreground: #F1F1F2;

  --primary-color: #FCDE68;
  --secondary-color: #5dcbf4;
  --secondary-color-rgb: 93, 203, 244;
  --tertiary-color:#EC5B3E;

  --error-color: #EC5B3E;
  
  --text-primary: #404041;
  --text-secondary: #000000;
  
  --border-color: #cecece;

  /* Font Sizes */
  --fs-h1: 3.2rem;
  --fs-h2: 2.4rem;
  --fs-h3: 2rem;
  --fs-body: 1.6rem;
  --fs-caption: 1.4rem;

  /* Font Weights */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-caption: 300;

  /* line heights */
  --ln-base: 1.5;
  --ln-tight: 1.2;

  /* heights */
  --header-height: 15.5rem;
  --input-height: 4.8rem;

  /* Borders */
  --default-border: 1px solid var(--border-color);
}

*{
  transition: all 0.15s ease-in-out;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
  background: var(--background);
  font-size: var(--fs-body);
  line-height: var(--ln-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  background: none;
}

input{
  outline: none;
  border: none;
}

/* Generated By AI */
@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
.skeleton-item {
  background-color: #eee;
  animation: pulse 1.5s infinite ease-in-out;
}
/* ---------------- */


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;

    --text-primary: #ededed;
    --text-secondary: #999;
  }
  
  html {
    color-scheme: dark;
  }
}

