:root{
  /* Colors */
  --background: #ffffff;
  --foreground: #F1F1F2;

  --primary-color: #FCDE68;
  --secondary-color: #5DCBF4;

  --text-primary: #000000;
  --text-secondary: #404041;

  /* Font Sizes */
  --fs-h1: 32px;
  --fs-h2: 24px;
  --fs-h3: 20px;
  --fs-body: 16px;
  --fs-caption: 14px;

  /* Font Weights */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  /* line heights */
  --ln-base: 1.5;
  --ln-tight: 1.2;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-size: var(--fs-body);
  line-height: var(--ln-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;

    --text-primary: #ededed;
    --text-secondary: #999;
  }
  
  html {
    color-scheme: dark;
  }
}
