:root{
  /* Colors */
  --background: #ffffff;
  --foreground: #F1F1F2;

  --primary-color: #FCDE68;
  --secondary-color: #5DCBF4;
  --tertiary-color:#EC5B3E;

  --text-primary: #404041;
  --text-secondary: #000000;

  /* Font Sizes */
  --fs-h1: 3.2rem;
  --fs-h2: 2.4rem;
  --fs-h3: 2rem;
  --fs-body: 1.6rem;
  --fs-caption: 1.4rem;

  /* Font Weights */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-caption: 300;

  /* line heights */
  --ln-base: 1.5;
  --ln-tight: 1.2;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-size: var(--fs-body);
  line-height: var(--ln-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
    border: none;
    background: none;
}

input{
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;

    --text-primary: #ededed;
    --text-secondary: #999;
  }
  
  html {
    color-scheme: dark;
  }
}
