.cards-section {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.ad-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  width: calc(22vw - 1.8rem);
  height: 32.6rem;
  border-radius: 0.7rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.image {
  position: relative;
  width: 100%;
  height: 50%;
}
.price {
  width: 80%;
  height: 3rem;
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--tertiary-color);
}
.title {
  width: 90%;
  height: 4rem;
}
.title p {
  display: -webkit-inline-box;
  max-height: 4rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2rem;
  margin-bottom: 0;
  color: var(--text-secondary);
}

.subtitle{
  display: flex;
  gap: 1rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.desc {
  width: 50%;
  height: 4rem;
}

.desc .location{
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

