.header{
    background-color: var(--background);
    border-bottom: 0.1rem solid #d0d2d3;
    padding: 1rem;
    z-index: 6;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 3.5rem;
}

.logo-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: .6rem;
    margin-top: 1.6rem;
}

.utilities-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1.6rem;
    margin: 0 auto;
    max-width: 1280px;
    gap: 2.5rem;
}

.center{
    display: flex;
    align-items: center;
    width: 100%;
}

.center input{
    width: 100%;
}

.center button{
    background: var(--secondary-color);
    height: 100%;
    width: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0 0.4rem 0.4rem 0;
}

.center button:hover{
    filter: brightness(97%);
}

.left{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.left button{
    font-size: var(--fs-caption);
    font-weight: var(--fw-bold);
}