.navbar {
    display: flex;
    gap: 3rem;
    padding: 1.5rem 4rem;
}

.navbar > * {
    font-size: 1.5rem;
    flex: 1;
}

.all-categories-btn{
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    font-size: 1.3rem;
}

.categories-list{
    position: absolute;
    background:var(--background);
    width: 90vw;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    top: calc(var(--header-height) + 7rem);
    z-index: 10;
}   

.block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
