.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;  
    width: fit-content;
    height: fit-content;
    gap: 5px;
    color: var(--text-primary);
    font-size: var(--fs-body);
}

.primary{
    border-radius: 4.4rem;
    background: var(--primary-color);
    height: 4.4rem;
    width: 9.4rem;  
}
.secondary{
    border-radius: 0.4rem;
    background: var(--secondary-color);
}

.primary:hover, .secondary:hover{
    filter: brightness(97%);
}

.link-like{
    border-bottom: 2px solid var(--tertiary-color);
    padding: 0;
}
.link-like .content{
    font-size: 1.6rem;
}
.link-like:hover{
    border-bottom: none;
}

.icon{
    padding: 0.7rem;
    border-radius: 50%;
}
.icon:hover{
    background-color: rgba(120, 120, 120, 0.2);
}

.disabled{
    opacity: 0.8;
    cursor: not-allowed;
    background-color: #cecece;
}

.fullWidth{
    width: 100%;
}