.input-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 1.5rem;
    border-radius: 0.2rem;
    border: 1px solid #cecece;
    width: 100%;
}

.input{
    padding: 1.2rem  0;
    font-size: var(--fs-body);
}

.input-container:focus-within {
    border: 1px solid var(--secondary-color);
}