
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    background-color: var(--background);
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 45rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
}

.close-btn{
    color: var(--text-primary);
    /* circle */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2.7rem;
}

.close-btn:hover{
    background: rgba(255, 0, 0, 0.2);
}

.body{
    overflow: auto;
}