.input-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 1.5rem;
    border-radius: 0.2rem;
    border: 1px solid #cecece;
    width: 100%;
    height: 4.8rem;
    position: relative;
}

.input{
    padding: 1.2rem  0;
    font-size: var(--fs-body);
    width: 100%;
}

.input-container:focus-within {
    border: 1px solid var(--secondary-color);
}

.error{
    color: var(--error-color);
}
.input-error{
    border: 1px solid var(--error-color);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--foreground);
    border-radius: 0.2rem;
    z-index: 10;
    display: block;
    max-height: 24rem;
    overflow-y: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.option{
    padding: 1.3rem;
    cursor: pointer;
    list-style: none;
}

.option:hover{
    background-color: var(--secondary-color);
}